::-webkit-scrollbar {
    display: none;
}

* {
 	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color:black; 
	padding: 0;
	margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

span{
 	color: #eeeeee;
}

button {
	color: #eeeeee;
	padding: 2px 5px;
	background-color: #666666;
	border-width: 1px;
	margin: 0;
}

button.mute {
	border-width:0;
	display: inline-block;
	width:20px;
	padding:0;
	margin-top:3px;
	background: #660000;
}
button.solo {
	border-width:0;
	display: inline-block;
	width:20px;
	padding:0;
	margin-top:3px;
	background: #006600;
}
button.layer {
	border-width:0;
	display: inline-block;
	width:118px;
	margin-top:3px;
}
button.imp{
	width:98px;
}
span.layer-group {
	background: #333333;
	margin-right:2px;
    white-space: nowrap;
}

label{
	color: #eeeeee;
	padding: 2px 8px;
	width: 90px;
	background-color: #666666;
}
label.lab1{
	color: #eeeeee;
	padding: 0px 5px;
	background-color: #333333;
}
input[type=range] {
	width: 100px;
}
input[type=text] {
	width: 80px;
	text-align: center;
}
input[type=number] {
	width: 45px;
}

.tool-bar-global {
	margin: 0;
	padding: 1px;
	background: #555555;
	height:25px;
    white-space: nowrap;
}
.tool-bar-layer {
	margin: 0;
	padding: 1px;
	background: #222222;
	height:25px;
    white-space: nowrap;
}
#top-bar-group {
	margin: 0;
	margin-bottom:3px;
	padding: 0;
	height:134px;
	width: 100%;
	background: #444444;
}
#bottom-bar-group {
	height:110px;
	width:100%;
	background: #224433;
	position: fixed;
	bottom:0;
	display: none;
}

label.lab1 {
	text-align: center;
	display: inline-block;
	width:40px;
}

#canvas-nav {
 	height: 40px; 
 	width: 100%;
}

#canvas-main {
	height: 100%;
	width: 100%;
}

.canvas-div {
	height: 100%;
	width: 100%;
}

.logo {
	color:#ffffff; 
	background: #bb33bb;
	width:46px;
	text-align:center;
	display: inline-block;
}
.logo1 {
	color:#111111; 
	background: rgba(100,255,255,0.9);
	width:14px;
	text-align:center;
	display: inline-block;
}

#mask {
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	position: absolute;
	display: block;
	margin: 0;
	z-Index: 1;
	opacity: 1;
	background:#000000;
	vertical-align: middle;
}

div.center-text {
	width:200px;
	height:50px;
	margin-top: -25px;
	margin-left: -100px;
/*  	margin: auto; */
	position: absolute;
	top: 50% ;
	left: 50%;
	background: rgba(255,100,255,0.6);
	font-size: 30px;
	color: #eeeeee;
	text-align:center;
	line-height: 50px;
}
